<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @class_section.name %>
</p>

<%= link_to 'Edit', edit_class_section_path(@class_section) %> |
<%= link_to 'Back', class_sections_path %>
