<h1>Classroom#mates</h1>
<p>Find me in app/views/classroom/mates.html.erb</p>
<% @mates.each do |mate| %>

<div class="media">
  <%= image_tag mate.avatar.url ,class: "img-circle", width:"50", height: "50"%>
  <h4><%=  mate.name %></h4>
</div>
<% end %>
