<% if classroom %>
Class Room Post
<% end %>
<%= form_tag classroom_post_path, remote: true do %>

  <div class="field">
    <%= label_tag :message %><br>
    <%= text_area_tag :message %>
  </div>



  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
