

<% if post.id % 2 == 0 %>
<li>
  <%else %>
  <li class="timeline-inverted">
  <% end %>
         <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
         <div class="timeline-panel">
           <div class="timeline-heading">
             <!-- <%= image_tag(post.student.avatar.url, class:"img-responsive") %> -->

           </div>
           <div class="timeline-body">
             <h3><%= post.student.name %></h3>
             <p>
               <%= post.message %>
             </p>

           </div>

           <div class="timeline-footer">
               <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
               <a><i class="glyphicon glyphicon-share"></i></a>
               <a class="pull-right"> <%= post.created_at.strftime("%B %d, %Y") %></a>
           </div>
         </div>
       </li>
